@import "../App.scss";

.third {
    opacity: 1;
    animation: paused;
    z-index: 11;
}
#box5ca {
  background-color: rgba(60, 85, 185, 0.1);
  //box-shadow: 2px 2px 15px;
  width: 90%;
  .article_ca {
    h2 {
        background: linear-gradient(rgba(60, 85, 185, 0.3)60%, rgba(60, 85, 185, 0.0)), linear-gradient(rgba(255, 255, 255, 1.0)60%,rgba(255, 255, 255, 0.0));
        min-height: 50px;
        margin-bottom: 0px;
        padding-left: 50px;
      }      
    #career_JR {
     width: 60%;
     margin-top: 10px;
     padding-left: 50px;
     padding-right: 50px;
      h4 {
        padding-left: 0px;
        padding-bottom: 0px;
        padding-top: 10px;
        margin-bottom: 0;
        margin-top: 0;
        font-size: $normal;
      }
      :first-child {
        padding-top: 0px;
      }
      p {
        //background-color: rgba(60, 85, 185, 0.5);
        padding-top: 0px;
        padding-bottom: 0;
        width: 100%;
        padding-right: 30px;
      }
      p:last-child {
        padding-bottom: 50px;
      }
    }
  }
}
.career {
    color:rgb(60, 85, 185);
}