@import "../global.scss";

*{
    color: white;
}

#headerOnHome {
    position: fixed;
    width: 100%;
    z-index: 100;
}

main {
    background-color:cadetblue;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    
    #introHome{
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        
        width: 100%;
        //background-color: blue;
        padding: 20px 0 20px 100px; 
        margin: 50px auto;
        //border: solid 3px white;
        >*{
            //border: solid;
            width: 30%;
            height: auto;

        }
        #headlineHome{
            font-family: $primary-font-medium;
            font-size: 3vw;
            color: white;
            //background-color: white;
            height: fit-content;
            text-align: start;
            margin: 0;
        }
        #motto {
            display: inline-block;
            font-family: $primary-font-medium;
            font-size: 1.5vw;
            background-color: none;
            //clip-path: polygon(2% 0, 100% 6%, 99% 97%, 0% 100%);
            //padding: 50px;
            margin-right: 100px;
            width: fit-content;
            height:fit-content;
            color: white;
            //border: groove white 10px;
        }
        #JRHome {
            font-size: 10vw;
            font-family:typekeys;
            color: black;
            //border:solid;
            vertical-align: middle;
            line-height: 10rem;
            text-align: center;
        }
    }
}

section{
    color:antiquewhite;
    //background-color: aqua;
    border: solid 3px white;
    width: calc(50% - 6px);
    height: 500px;
    display: inline-block;
    border-color: solid 2px white;
    background-image: url(../Images/buchMitLicht.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    h2 {
        padding-left: 20px;
    }
    ul, li {
        padding: 5px 20px;
        border: solid 1px white;
        margin-bottom: 10px;
        width: fit-content;
        font-weight: 900;
        background-color:rgba(48, 46, 46, 0.5);
        list-style: none;
        line-height: 20px;
        
    }
    a{
        text-decoration: none;
    }
}

#homeTexte1{
    overflow:hidden;
    ul{
        width: 50%;
    }
    p{
        position: relative;
        right: -60%;
        top: -190px;
        width: 50%;
        height: 100%;
        padding: 15px;
        line-height: 2rem;
        opacity: .5;
        //transform: rotate(10deg);
        transition: 1s ease-in;
        overflow: hidden;
    }
    :hover {
        position: relative;
        right: -47%;
        top: -170px;
        //width: 50%;
        padding: 15px;
        padding-bottom: 130px;
        line-height: 2rem;
        opacity: 1;
        background: grey;
        overflow-y: scroll;
        transition:  1s ease-in;
    }

}

#homeTexte2{
    background-image: url(../Images/homepagePLDM.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    background-blend-mode:darken;
    background-color: rgba(0, 0, 0, 0.5);
    
    h2{
        //color: black;
    }
}
#homeTexte2:hover{
    background-color: transparent;
    background-blend-mode:0.0;
    h2{
        background-color: rgba(48, 46, 46, 0.5);
        
    }
}

.info{
    display: block;
    width: 100%;
    height: 200px;
    background-color:white;
    background-image: none;
    font-size: 5rem;
    text-align: center;
    line-height: 200px;
}

#homeTexte3{
    display: block;
    width: 100%;
    background-image: none;
    /* background-image: url(../Images/KAimMohnspark.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; */
    #imageSlider{
        position: relative;
        width: 100%;
        //display: none;
    }
    h2 {
        position: relative;
        top: -500px;
    }
    ul{
        position: relative;
        top: -500px;
    }
}
#homeTexte3:hover{
    //background-image: url(../Images/KAimMohnspark_bearbeitet.jpg);
}

#homeTexte4{
    background-image: url(../Images/LWL_Eingangsdetails.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    ul{
        width: 50%;
    }
    
}
#homeTexte5{
    background-image: url(../Images/Lohhof.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;

    ul{
        width: 50%;
    }
}