@import "../App.scss";

#motto {
    font-family: $primary-font-medium;
}

#box5home {
    background: rgba(255, 255, 255, 0.0); 
    nav {
        font-size: 1.3rem;
        // font-variant:small-caps;
        font-family: $primary-font-bold;
        text-align: left;
        padding-right: 0px;
        width: 100%;
        //background-color: rgba(0, 0, 0, 0.1); 
        border-radius: 20px;
        ul li{
            list-style-type: none;
            margin-bottom: 10px;
            font-family: $primary-font;
            font-weight: lighter;
            width: 90%;
            padding: 10px 0 0 10px;
            a {
                color: black;
                text-decoration: none;
                p {
                    display: inline;
                    color: rgb(187, 25, 25);
                    /* img {
                        width: 3%;
                        color:white;
                    } */
                }
            }
        }
    }
}
    
#home_contens {
    li:first-child p{
        color: white;
    }
    li:nth-child(2) p{
        color: rgb(250, 200, 80);
    }
    li:nth-child(3) p{
        color: rgb(60, 85, 185);
    }
    li:nth-child(4) p{
        color: rgb(195, 70, 30);
    }
    li:nth-child(5) p{
        color: rgb(100, 5, 80);
    }
    li:nth-child(6) p{
        color: darkgreen;
    }
    li:nth-child(7) p{
        color: rgb(250, 200, 80);
    }
    li:first-child:hover a{
        opacity: 1;
        z-index:10;
        color: white; 
    }
    li:nth-child(2):hover a{
        opacity: 1;
        z-index:10;
        color: rgb(250, 200, 80); 
    }
    li:nth-child(3):hover a {
        opacity: 1;
        z-index:10;
        color: rgb(60, 85, 185); 
    }
    li:nth-child(4):hover a{
        opacity: 1;
        z-index:10;
        color: rgb(195, 70, 30); 
    }
    li:nth-child(5):hover a{
        opacity: 1;
        z-index:10;
        color: rgb(100, 5, 80); 
    }
    li:nth-child(6):hover a{
        opacity: 1;
        z-index:10;
        color: darkgreen; 
    }
    li:nth-child(7):hover a{
        opacity: 1;
        z-index:10;
        color: rgb(250, 200, 80); 
    }
}

li i {
    font-size: 1.5;
}

.fapd {
    color: white;
}

.box7 figure  {
    position: relative;
    //border-bottom: 1px dotted black;
  }
  
  .box7 figure:before {
    content: attr(hover-text); 
    clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 31% 76%, 20% 100%, 15% 75%, 0% 75%);
    visibility: hidden;
    opacity: 0;
    width: 150px;
    height: auto;
    min-height: 100px;
    background-color: rgba(69, 69, 69);
    color: white;
    text-align: center;
    border-radius: 5px;
    box-shadow: 5px 5px 15px;
    padding: 10px ;
    transition: opacity 1s ease-in-out;
    position: absolute;
    z-index: 1;
    left: 10%;
    top: -100%;   
}

#myOrigin:before {
    top: -100%;
}

#PLDmagazine:before {
    min-height: 150px;
    top: -150%;
}

#GutLohof:before {
    top: -100%;
}

#PLDWebsite:before {
    min-height: 150px;
    top: -150%;
}

#Qanat21:before {
    min-height: 150px;
    top: -150%;
}
#LWLGT:before {
    clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 75% 100%, 55% 75%, 0% 75%);
    min-height: 150px;
    top: -150%;
    left: -50%
}

.box7 figure:hover:before {
    opacity: 1;
    visibility: visible;
}