@import "../global.scss";

*{
    color: white;
}

main {
    background-color:cadetblue;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    
    #introHome{
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        
        width: 100%;
        //background-color: blue;
        padding: 20px 0 20px 100px; 
        margin: 50px auto;
        //border: solid 3px white;
        >*{
            //border: solid;
            width: 30%;
            height: auto;

        }
        #headlineHome{
            font-family: $primary-font-medium;
            font-size: 3vw;
            color: white;
            //background-color: white;
            height: fit-content;
            text-align: start;
            margin: 0;
        }
        #motto {
            display: inline-block;
            font-family: $primary-font-medium;
            font-size: 1.5vw;
            background-color: none;
            //clip-path: polygon(2% 0, 100% 6%, 99% 97%, 0% 100%);
            //padding: 50px;
            margin-right: 100px;
            width: fit-content;
            height:fit-content;
            color: white;
            //border: groove white 10px;
        }
        #JRHome {
            font-size: 10vw;
            font-family:typekeys;
            color: black;
            //border:solid;
            vertical-align: middle;
            line-height: 10rem;
            text-align: center;
        }
    }
}

section{
    color:antiquewhite;
    //background-color: aqua;
    border: solid 3px white;
    width: calc(50% - 6px);
    height: 500px;
    display: inline-block;
    border-color: solid 2px white;
    background-image: url(../Images/buchMitLicht.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    h2 {
        padding-left: 20px;
    }
    p, li {
        padding: 5px 20px;
        border: solid 1px white;
        margin-bottom: 10px;
        width: fit-content;
        font-weight: 900;
        background-color:rgba(48, 46, 46, 0.787);
        list-style: none;
        
    }
}

#homeTexte2{
    background-image: url(../Images/Qanat_home.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
}

#homeTexte3{
    display: block;
    width: 100%;
    
}
#homeTexte4{
    background-image: url(../Images/LWL_Eingangsdetails.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
}
#homeTexte5{
    background-image: url(../Images/Lohhof.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
}