@import "./typo/typo.scss";
@import "./variables/variables.scss";

.motto {
    font-family: $primary-font-medium;
}
.Trenner {
    display: block;
    width: 5%;
    margin: 10px auto 10px;
  }
.bg {
    margin: 0 auto;
    .bgimage {
        display: none;
        position: absolute;
        height: 100vh;
        max-height: 870px;
        width: 100%;
        max-width: 1240px;
        margin: 0px auto;
        z-index: 0;
        }
    
    .content {
        background-image:  url(./Images/IMG_1839.PNG);
        background-repeat:no-repeat;
        background-size:cover;
        position:relative;
        margin: 0 auto;
        display: grid;
        grid-auto-rows: min-content;
        grid-template-columns: 30% 57% 11.8%;
        grid-template-rows: 25% 45% 21% 4%;
        grid-gap:0px;
        border-collapse: collapse;
        height: 820px;
        width: 1200px;
        font-family: $primary-font;
        overflow:visible;
        * {
            //border: solid;
            }
        .box1 {
            grid-column: 1/2;
            grid-row: 1/2;
            //border: solid;
        }
        .box2 {
            grid-column: 2/3;
            grid-row: 1/2;
            padding-top: 30px;
            //border: solid;
            h1 {
                font-family: $headline;
                text-transform: uppercase;
                font-weight: 100;
                font-size: 2.3rem;
                text-align: left;
                line-height: 3rem;        
            }
            p {
                text-align: left;
                font-family: $primary-font;
                font-size: 1.5rem;
                margin-top: 20px;
            }
        }
        .box3 {
            padding-top: 25%;
            padding-left: 0px;
            grid-column: 3/4;
            grid-row: 1/2;
            margin-left: -30px;
            //border: solid;
            figure {
                width: 60%;
                padding-left: 0;
                background-image: url(./Images/Joachim_serious.jpg);
                border-radius: 50%;
                aspect-ratio: 1;
                background-position: 0px 5px;
                background-size: 100%;
                background-repeat: none;
                /* img {
                    position: relative;
                    left: -10px;
                    top: 0px;
                    width: 100%;
                    aspect-ratio: 1/1;
                    object-fit: cover;
                    border-radius: 50%;
                    object-position: 0px 0px;
                } */
                figcaption {
                    margin: 0 auto;
                    position: relative;
                    left: -0px;
                    top: 110px;
                    text-align: center;
                    font-family: $primary-font-bold; 
                    font-size: 0.75rem;        
                    position: bottom;
                }
            }             
            figure:hover {
                background-image: url(./Images/Joachim_privat.JPG);
                background-position: center 0px;
                background-size:110%;
            }
        }
        .box4 {
            grid-column: 1/2;
            grid-row: 2/3;
            //border: solid;
            padding-top: 20px;
            //transform: translateY(-40%) translatex(20%) scale(100%);
            //transition: transform 1s ease-in-out; 
            div {
                margin: 0 25%;
                img {
                width: 15%;
                position:absolute;
                //border: solid;
                }
                #basis {
                    opacity: 1;
                    z-index: 1; 
                }
                #first {
                    opacity: 1;
                    animation: fadeinandout 2.0s infinite ease alternate-reverse;
                    z-index: 9;
                }
                
                #second {
                    opacity: 1;
                    animation: fadeinandout 2s infinite ease alternate-reverse;
                    z-index:9;
                }
                #third {
                    opacity: 1;
                    animation: fadeinandout 2.5s infinite ease alternate-reverse;
                    z-index:9;
                }
                #fourth {
                    opacity: 1;
                    animation: fadeinandout 1.5s infinite ease alternate-reverse;
                    z-index:9;
                }
                #fifth {
                    opacity: 1;
                    animation: fadeinandout 1.3s infinite ease alternate-reverse;
                    z-index:9;
                }
                #sixth {
                    opacity: 1;
                    animation: fadeinandout 3s infinite ease alternate-reverse;
                    z-index:9;
                }
                #seventh {
                    opacity: 1;
                    animation: fadeinandout 1s infinite ease alternate-reverse;
                    z-index:9;
                }
                #eigth {
                    opacity: 1;
                    animation: fadeinandout 2.2s infinite ease alternate-reverse;
                    z-index:9;
                }
                #ninth {
                    opacity: 1;
                    animation: fadeinandout 2.7s infinite ease alternate-reverse;
                    z-index:9;
                }
                @keyframes fadeinandout {
                    0% {
                    opacity: 0;
                    }   
                    100% {
                    opacity: 1;
                    }
                }
            }
        }
        .box5 {
            grid-column: 2/3;
            grid-row: 2/3;
            //border: solid;
            border-radius: 10px;
            box-shadow: 5px 5px 15px/* , -5px -5px 15px inset */;
            width: 90%;
            nav>ul>li>a {
                font-family: $primary-font-bold;
            }
            article {
                position: relative;
                border-radius: 10px;
                width: 100%;
                height: 95%;
                font-family: $primary-font-medium;
                overflow-y: auto;
                overflow-x: hidden;
                ::-webkit-scrollbar {
                    display: none;
                  }
                -ms-overflow-style: none;  /* IE and Edge */
                scrollbar-width: none;  /* Firefox */
                h2 {
                    //box-shadow:  -5px -5px -15px inset black;
                    position: sticky;
                    top: 0px;
                    padding: 20px;
                    margin: 0px;
                    min-height: 50px; 
                    font-size: 1.5rem;
                    width: auto;
                    border-radius: 10px 0 0 10px;
                }
                p {
                    font-size: $normal;
                    padding-left: 20px;
                    width: auto;
                    padding-right: 10px;
                    margin: 0px;
                }
                li {
                    font-size: $normal;
                }
            }
            article::-webkit-scrollbar {
                width: 0px;
              }
            article::-webkit-scrollbar-track {
                background:transparent;
            }
                          
        }
        .box6 {
            grid-column: 3/4;
            grid-row: 2/4;
            //border: solid;
            ul {
                padding-left: 4%;
                width: 80%;
                margin-top: 20px;
                display: flex;
                flex-flow: column nowrap;
                //border: solid;
                li {
                    list-style-type: none;
                    margin-bottom: 20px;
                    font-size: 0.9rem;
                    font-family: $primary-font-bold;
                    a {
                        text-decoration: none;
                        color: black;
                    }
                }
                li:first-child:hover a{
                color: black; 
                }
                li:nth-child(2):hover a{
                    color: white; 
                }
                li:nth-child(3):hover a{
                    color: rgb(250, 200, 80); 
                }
                li:nth-child(4):hover a {
                    color: rgb(60, 85, 185); 
                }
                li:nth-child(5):hover a {
                    color: rgb(195, 70, 30); 
                }
                li:nth-child(6):hover a {
                    color: rgb(100, 5, 80); 
                }
                li:nth-child(7):hover a {
                    color: darkgreen; 
                }
                li:nth-child(8):hover a {
                    color: rgb(250, 200, 80); 
                }
            }
        }
        .box7 {
            grid-column: 1/4;
            grid-row: 3/4;
            display: flex;
            flex-flow: row nowrap;
            gap: 0;
            height: 100%;
            width: 100%;
            //border: solid;
            overflow-x:visible;
            justify-content: space-around;
            padding-left: 0px;
            align-items: center;
            figure {
                height: 60%;
                width: 15%;
                img {
                    object-fit:contain;
                    width: 100%;
                    height: 100%;
                }
            }
        }
        .box8 {
            grid-column: 2/3;
            grid-row: 4/5;
            //border: solid;
        }
        .box9 {
            grid-column: 1/2;
            grid-row: 4/5;
            //border: solid;
        }
        .box10 {
            grid-column: 3/4;
            grid-row: 4/5;
            font-size: 0.75rem;
            //border: solid;
            padding-left: 30px;  
        }
    }
}