
body {
  margin: 0 auto;
  font-family: FoundSanExpMed;
  /* -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
  //background-image:  /* url(./Images/IMG_1839.PNG), */ linear-gradient(166deg, rgba(7,0,125,1) 0%, rgba(114,78,173,1) 50%, rgba(142,94,131,1) 70%, rgba(161,22,6,1) 100%);
  //background-repeat:no-repeat;
  //background-position: center 0;
  box-sizing: content-box;
  background-color:cadetblue;
  background-image: url("./Images/background_KBJR.jpg");
  background-size: cover;
  background-repeat: repeat;
  //border-collapse: separate;
  border-collapse: collapse;
  #root {
    margin: 0px;
    padding:0;
  }
}

